/*
 * Author: Yifan/Evan
 * Created: Tue Feb 25 2025 12:48:02
 * Updated: Tue Feb 25 2025 12:48:02
 */

/* Poppins font style */
.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

/* Roboto font style */
.roboto-unique {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Montserrat font style */
.montserrat-unique {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}


