/* src/styles/Homepage.css   */
  .homepage {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .hero {
    position: relative;
    background-image: url('../assets/icon-logo/logo-background-watermark.svg'); 
    background-size: contain;
    background-size: cover;
    background-position: center;
    height: 100vh;

  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding-top: 10%;
    padding-left: 5%;
  }
  
  .hero h2 {
    font-size: 46px;
    margin: 0;
    text-align: left;
  }

  .hero-buttons {
    padding-top: 2rem;
  }

  .donateButton {
    font-size: 18px;
    font-weight:semi-bold;
    font-family: var(--secondary-font);

    margin: 1rem;
    padding: 15px 25px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .donateButton:hover {
    background-color: gray;
  }

  .signUpButton {
    font-size: 18px;
    font-weight:semi-bold;
    font-family: var(--secondary-font);

    margin: 1rem;
    padding: 15px 25px;
    background-color: #ECEAE9;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    border-radius: 40px;
  }

  .signUpButton:hover {
    background-color: gray;
    color: white;
  }
  

  .featured-events {
    padding: 40px 20px;
    text-align: center; 
  }
  
  .featured-events h2 {
    margin-bottom: 30px;
  }
  
  .event-list {
    display: flex;
    gap: 3rem;
    justify-content: center;
  }
  
  .event-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: auto;
    text-align: center;
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .event-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
  }
  
  .event-card h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .event-card p {
    font-size: 1rem;
    color: #666;
  }
  
  .view-all-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #794CB3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .view-all-button:hover {
    background-color: #52327c;
  }
  
  .cta {
    background-color: #794CB3;
    color: white;
    text-align: center;
    padding: 40px 20px;
  }
  
  .cta h2 {
    margin-bottom: 20px;
  }
  
  .cta button {
    padding: 15px 30px;
    background-color: white;
    color: #794CB3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .cta button:hover {
    background-color: #52327c;
    color: white;
  }


  @media (max-width: 1120px) {
    .event-list {
      flex-direction: column;
      gap: 20px;
    }
  }

  @media (max-width: 768px) {
    .hero h1 {
      font-size: 3rem;
    }
    
    .event-card {
      width: auto;
    }

    .event-card img {
      width: 300px;
      height: 300px;
    }


  }
  